<ion-content [fullscreen]="true" class="ion-padding">
    <ion-text>
        <h1>Welcome.</h1>
        <p>Start meeting new <br>people now.</p>
    </ion-text>
    <div class="actions">
        <ion-button class="signin-btn" expand="block" (click)="signIn()">Sign In</ion-button>
        <div class="separator">
            <span>or</span>
            <span class="line left"></span>
            <span class="line right"></span>
        </div>
        <ion-button class="signup-btn" expand="block" (click)="signUp()">Sign Up Now with Email</ion-button>
    </div>
</ion-content>
